{% extends 'base.html.twig' %}

{% block title %}Car Controller{% endblock %}

{% block body %}
    <table class="ui basic table">
        <thead>
        <tr>
            <th>id</th>
            <th>marque</th>
            <th>model</th>
            <th>puissance</th>
            <th>serie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>
                    <a href="{{ url('car_show', {id: car.id}) }}">{{ car.brand }}</a>
                </td>
                <td>{{ car.model }}</td>
                <td>{{ car.hp }}</td>
                <td>{{ car.serialNumber }}</td>
                <td>
                    <a href="{{ url('car_delete', {id: car.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')" title="Supprimer">X</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}