{% extends 'base.html.twig' %}

{% block title %}
    {{ car.brand }} {{ car.model }}
{% endblock %}

{% block body %}
    <div>Marque : {{ car.brand }}</div>
    <div>Modèle : {{ car.model }}</div>
    <div>Puissance : {{ car.hp }}</div>
    <div>Numéro série : {{ car.serialNumber }}</div>
{% endblock %}