<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('semantic/dist/semantic.min.css') }}">

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            padding-top: 7em;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="{{ url('home') }}" class="header item">
                <img class="logo" src="https://fomantic-ui.com/examples/assets/images/logo.png">
                Smart MVC
            </a>
            <a href="{{ url('home') }}" class="item">Accueil</a>
            <div class="ui simple dropdown item">
                Voiture <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url('car_index') }}">Liste</a>
                    <a class="item" href="{{ url('car_add') }}">Ajouter</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Popriétaire <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Liste</a>
                    <a class="item" href="#">Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dimmed pusher">
        <div class="ui main container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('semantic/dist/semantic.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>