<!doctype html>
<html lang="fr">
<head>
    <title>Erreur {{ exception.code ?? '' }}</title>

    <style>
        body {
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            text-align: center;
            background: #3c3c3c;
            color: #e8e8e8;
        }

        .container {
            max-width: 500px;
            margin: 20vh auto auto;
            padding: 30px 50px;
            border: solid 1px;
            border-radius: 3px;
            background: #2b2b2b;
        }

        a {
            color: #58a3e4;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Une erreur est survenue.</h1>
        <hr>
        {% if exception.code %}
            <p>
                Code erreur : <strong>{{ exception.code }}</strong>
            </p>
        {% endif %}
        <p>
            Message : <strong>{{ exception.message }}</strong>
        </p>
        <p style="margin-top: 30px;">
            <a href="javascript:history.back()">Retour en arrière</a>
        </p>
    </div>
</body>
</html>